form input[type=search] {
	width: 150px;
	height: 25px;
	transition: all 0.5s;
	border: solid 1.5px #A7C2CE;
	border-radius: 10rem;
	outline-width: 0;
	font-size: xx-small;
	font-family: 'FontAwesome';
	content: '\f274';
}

form input[type=search]:focus {
	animation-name: example;
	transition: all 0.5s;
	width: 150px;
	animation-fill-mode: forwards;
	animation-duration: 0.8s;
}

@keyframes example {
	0% {
		border-bottom: solid 3px #0C95BE;
	}

	25% {
		border-left: solid 3px #0C95BE;
	}

	50% {
		border-top: solid 3px #0C95BE;
	}

	75% {
		border-right: solid 3px #0C95BE;
	}

	100% {
		border-top: solid 3px #0C95BE;
		border-right: solid 3px #0C95BE;
	}
}

.hover {
	width: 6px;
	height: 3px;
	margin-top: 3px;
	margin: 5px;
}